html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header{
    height: 5rem;
    color: blueviolet;
    text-align: center;
    margin: 0;
    padding: 0;
}