html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header{
    height: 6rem;
    color: blueviolet;
    text-align: center;
    margin: 0;
    padding: 0;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: lightcyan;
    padding: 6px;
    margin: 0;
}